name: Deploy Webpage to GitHub Pages

on:
  push:
    branches:
      - main
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Código
        uses: actions/checkout@v4

      - name: Configurar Pages
        uses: actions/configure-pages@v5

      - name: Upload Artifact (index.html, style.css)
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.' 

      - name: Deploy automático
        id: deployment
        uses: actions/deploy-pages@v4
