name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Altere para o nome da branch que você usa

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'  # Ajuste conforme necessário

      - name: Install dependencies
        run: npm install  # Execute isso apenas se você tiver um package.json

      - name: Build the project
        run: npm run build  # Ajuste conforme o seu comando de build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist  # Ajuste para o diretório correto
